<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Equipos</title>
<link rel="styLesheet" href="css/estilos.css"/>
</head>
<body>
	<div id="contenedor">
		<header>
			<h1>Liga de Fútbol Profesional</h1>
		</header>
		<nav>
			<ul>
				<li><a href="Index.html">Home</a></li>
				<li><a href="Fixture.html">Fixture y resultados</a></li>
				<li><a href="#">Equipos</a></li>
			</ul>
		</nav>
		<section>
			<h2 class="titulo">Equipos</h2>
			<table>
				<tr>
					<th>Escudo</th>
					<th>Historia</th>
				</tr>
				<tr>
					<td><img alt="" src="img/section/equip6.jpg"></td>
					<td>
						El Arsenal Football Club es un club de fútbol profesional con sede en Holloway,
					 	Londres, Inglaterra, que juega en la máxima categoría del fútbol de ese país, la Premier League.				  
					 	Uno de los más laureados del fútbol inglés, ha ganado 43 títulos en su país, incluyendo 13 
					    campeonatos de liga y un récord de 13 Copas de Inglaterra; también ha ganado dos títulos 
					    internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994
					</td>
				</tr>
				<tr>
					<td><img alt="" src="img/section/equip6.jpg"></td>
					<td>
						El Arsenal Football Club es un club de fútbol profesional con sede en Holloway,
					 	Londres, Inglaterra, que juega en la máxima categoría del fútbol de ese país, la Premier League.				  
					 	Uno de los más laureados del fútbol inglés, ha ganado 43 títulos en su país, incluyendo 13 
					    campeonatos de liga y un récord de 13 Copas de Inglaterra; también ha ganado dos títulos 
					    internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994
					</td>
				</tr>
				<tr>
					<td><img alt="" src="img/section/equip6.jpg"></td>
					<td>
						El Arsenal Football Club es un club de fútbol profesional con sede en Holloway,
					 	Londres, Inglaterra, que juega en la máxima categoría del fútbol de ese país, la Premier League.				  
					 	Uno de los más laureados del fútbol inglés, ha ganado 43 títulos en su país, incluyendo 13 
					    campeonatos de liga y un récord de 13 Copas de Inglaterra; también ha ganado dos títulos 
					    internacionales: la Copa europea de Ferias en 1970 y la Recopa de Europa en 1994
					</td>
				</tr>
			</table>
			
		</section>
		<aside>
			<h3 class="titulo">Auspiciantes</h3>
			<div id="asdImg">
				<img alt="" src="img/aside/as1.jpg">
				<img alt="" src="img/aside/as2.jpg">
				<img alt="" src="img/aside/as3.jpg">
				<img alt="" src="img/aside/as4.jpg">
			</div>
		</aside>
		<footer>
			<p>
				Avds. Pedro Ortiz de Zarate N°455 - Tel 388 4789555
				<a href="https://www.instagram.com"><img alt="" src="img/footer/foot1.jpg"></a>
				<a href="https://www.facebook.com"><img alt="" src="img/footer/foot2.jpg"></a>
				<a href="https://www.twitter.com"><img alt="" src="img/footer/foot3.jpg"></a>
			</p>
		</footer>
	</div>
</body>
</html>